seirsplus==0.1.1
pydantic~=1.2
pandas~=1.1
numpy~=1.16.2
kneed==0.6.0
requests~=2.23.0
scikit-learn~=0.23.1
simplejson~=3.17.0
hyperopt~=0.2.4
boto3~=1.14.2
matplotlib~=3.2.1
seaborn~=0.10.1
adjusttext~=0.7.3
networkx~=2.4
scipy~=1.4.1
mlflow~=1.8.0
chevron~=0.13.1
pyathena~=1.10.7
ipython~=7.15.0
